<div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
    <div class="w-full flex flex-col justify-center items-center backdrop-brightness-50" style="height:400px;">
        <h1 class="uppercase text-white w-1/2 lg:text-6xl text-2xl my-2 text-center">About Us</h1>
        <h5 class="uppercase text-white text-sm my-2 tracking-widest">Ami Homestay</h5>
    </div>
</div>
<div class="flex flex-col lg:flex-row about-height">
    <div class="w-full lg:w-1/2 flex flex-col justify-center px-7 lg:px-28 py-20 lg:py-0 about-bg-color">
        <div class="my-2">
            <h1 class="font-normal text-5xl tracking-widest my-1">Welcome Home!</h1>
            <h5 class="theme-color text-sm tracking-widest my-1">SOME WORD ABOUT US</h5>
        </div>
        <p class="font-bold my-2">Ami Homestay is located in seclusion amidst three hills in Coorg in the State of
            Karnataka.</p>
        <p class="my-2">Escape from the hustle and hassle of your everyday routine and come away to the Ami Homestay,
            where a serene world awaits you. Throw off all your worries and slip into the scenic, relaxed atmosphere and
            be pampered and rejuvenated..</p>
        <div class="flex flex-col">
            <div class="flex flex-row items-center my-3">
                <div class="w-1/6 justify-center">
                    <i class="fa fa-star fa-2xl"></i>
                </div>
                <div class="lg:w-1/2 w-3/4 uppercase text-sm font-bold">
                    Consistently High Guest Satisfaction Since 2012
                </div>
            </div>
            <div class="flex flex-row items-center my-3">
                <div class="w-1/6 justify-center">
                    <i class="fa fa-medal fa-2xl"></i>
                </div>
                <div class="lg:w-1/2 w-3/4 uppercase text-sm font-bold">
                    Top Ranked Value Homestay in New York, USA
                </div>
            </div>
        </div>
        <div class="my-2">
            <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-8">Explore More<i
                    class="fa fa-arrow-right ml-2"></i></button>
        </div>
    </div>
    <div class="relative sm:w-1/2 w-full flex flex-col justify-center">
        <img src="assets/aboutus01.jpg" class="sm:absolute w-full sm:w-4/5 h-auto sm:top-20 mt-5 lg:my-0">
        <img src="assets/about04.jpg" class="sm:absolute w-full sm:w-1/2 h-auto sm:bottom-16 left-0 mt-5 lg:my-0">
    </div>
</div>
<div class="hidden sm:flex sm:flex-row flex-col px-5 lg:px-28 relative">
    <img src="assets/about02.jpg" class="absolute sm:-top-24">
    <img src="assets/about03.jpg" class="relative sm:top-0 sm:left-80">
    <img src="assets/about05.jpg" class="relative sm:-top-16 sm:w-36 sm:h-36" style="left:54.4%">
</div>
<div class="flex flex-col px-5 lg:px-20 py-20 justify-center">
    <div class="text-center">
        <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 ">Why Choose Us</h1>
        <h5 class="uppercase theme-color text-sm tracking-widest my-3">TOP REASONS TO CHOOSE OUR HOMESTAY</h5>
    </div>
    <div class="flex flex-col lg:flex-row justify-between mt-10 lg:mt-20">
        <div class="flex flex-col lg:mx-3 w-33 py-5">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full flex justify-center items-center icon-hover my-5">
                    <i class="fa-solid fa-seedling text-7xl theme-color"></i>
                </div>
                <h6 class="uppercase text-lg my-2 font-bold text-hover">Live Amidst Nature</h6>
                <p class="text-center">Feel and experience nature in its fullest glory to refresh yourself.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 about-border py-5">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full flex justify-center items-center icon-hover my-5">
                    <i class="fa-solid fa-house text-7xl theme-color"></i>
                </div>
                <h6 class="uppercase text-lg my-2 font-bold text-hover">Heritage Homestay</h6>
                <p class="text-center">Experience the charm of Kerala heritage that have been preserved throughout the ages.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 py-5">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full flex justify-center items-center icon-hover my-5">
                    <i class="fa-solid fa-hands text-7xl theme-color"></i>
                </div>
                <h6 class="uppercase text-lg my-2 font-bold text-hover">Family Friendly</h6>
                <p class="text-center">The calm and comfortable environment will make your family feel at home.</p>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row px-5 lg:px-28 py-32 justify-between items-center">
    <i class="fa fa-arrow-left hidden lg:flex"></i>
    <div class="flex flex-col justify-center lg:w-3/4 lg:px-20 my-2">
        <div class="text-center my-5">
            <i class="fa fa-star theme-color"></i>
            <i class="fa fa-star theme-color"></i>
            <i class="fa fa-star theme-color"></i>
            <i class="fa fa-star theme-color"></i>
            <i class="fa fa-star theme-color"></i>
        </div>
        <div class="uppercase text-center text-2xl tracking-widest">
            "If You are a Lover of nature and appreciate its tranquility then this is the place for you."
        </div>
        <div class="flex justify-center my-5">
            <img src="assets/testimonials01.jpg" class="h-20 w-20 rounded-full">
        </div>
        <div class="flex justify-center">
            <h2 class="uppercase text-md font-bold">Prahalad Atreyya</h2>
        </div>
        <div class="flex justify-center my-1">
            <h6 class="uppercase text-sm theme-color">Trip Advisor</h6>
        </div>
    </div>
    <i class="fa fa-arrow-right hidden lg:flex"></i>
</div>
<div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center my-10" style="height:100%;">
    <div class="w-full flex flex-col justify-center items-center backdrop-brightness-50" style="height:500px;">
        <h1 class="uppercase text-white tracking-wider w-1/2 lg:text-6xl text-3xl my-2 text-center">Book Your Stay Now!</h1>
        <h5 class="uppercase text-white tracking-widest text-sm my-2">CALL US AT</h5>
        <h5 class="theme-color font-bold text-2xl font-contact">
            +(84) 4130 0555
        </h5>
        <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-8 mt-5">Contact Us<i
                class="fa fa-arrow-right ml-2"></i></button>
    </div>
</div>
<div class="flex flex-col px-5 lg:px-20 py-10 justify-center">
    <div class="text-center">
        <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 ">Recent Post</h1>
        <h5 class="uppercase theme-color text-sm tracking-widest my-3">Read Our Blog</h5>
    </div>
    <div class="flex flex-col lg:flex-row justify-between my-10 lg:my-20">
        <div class="flex flex-col justify-center post-border lg:mx-3 p-10 lg:p-14 w-33">
            <small>
                <span class="theme-color">
                    FOODS, HOTEL
                </span>
                | August 6,2019
            </small>
            <h2 class="my-5 font-bold text-xl">6 Safe Caving <br/>Vacations &...</h2>
            <p>
                What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the
                delivery of the content. Also over time this can save…
            </p>
            <button class="w-40 uppercase theme-bg-color text-white rounded-md text-xs font-bold py-2 px-8 mt-5">Read
                More<i class="fa fa-arrow-right ml-2"></i></button>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 my-5 lg:my-0 bg-[url('assets/room-02.jpg')] bg-cover bg-center opacity-90"
            style="height:100%;">
            <div class="w-full flex flex-col justify-end items-start px-10 backdrop-brightness-50"
                style="height:390px;">
                <small>
                    <span class="theme-color">
                        HOTEL, ORIENTALSPA
                    </span>
                    <span class="footer-text">
                        | August 6,2019
                    </span>
                </small>
                <h2 class="uppercase mt-5 mb-10 tracking-widest font-bold text-xl text-white">7 Amazing Hotels with Infinity Pools |...</h2>
            </div>
        </div>
        <div class="flex flex-col post-border my-5 lg:my-0 lg:mx-3 p-10 lg:p-14 w-33">
            <small>
                <span class="theme-color">
                    FOODS, RESTAURANT
                </span>
                | August 6,2019
            </small>
            <h2 class="my-5 font-bold text-xl">7 Wilderness Hotels & Resorts Enticing...</h2>
            <p>
                What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the
                delivery of the content. Also over time this can save…
            </p>
            <button class="w-40 uppercase theme-bg-color text-white rounded-md text-xs font-bold py-2 px-8 mt-5">Read
                More<i class="fa fa-arrow-right ml-2"></i></button>
        </div>
    </div>
</div>