.icon-hover:hover{
    background: #CF9D6C;
}

.icon-hover:hover i{
    color:#fff;
}

.text-hover:hover{
    color:#CF9D6C;
}

.box-shadow {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .08);
}

.about-height {
    min-height: 800px;
}