<div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
    <div class="w-full flex flex-col justify-center items-center backdrop-brightness-50" style="height:400px;">
        <h1 class="uppercase text-white w-1/2 lg:text-6xl text-2xl my-2 text-center">Amenities</h1>
        <h5 class="uppercase text-white text-sm my-2 tracking-widest">Ami Homestay > About Us</h5>
    </div>
</div>
<div class="flex flex-col px-5 sm:px-20 py-20 justify-center">
    <div class="text-center">
        <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 sm:px-96">Best amenities at the best price</h1>
        <h5 class="uppercase theme-color text-sm tracking-widest my-3">WHAT WE OFFER AT HOMESTAY</h5>
        <p class="sm:px-80">Apart from its scenic location, our homestay also offers a great holiday experience filled with adventure and excitement.</p>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-wifi fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Free high speed wifi</h6>
                <p class="text-center">All rooms have good high speed Wi-Fi connectivity</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-utensils fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Well equipped kitchen</h6>
                <p class="text-center">Fall in love with the neighborhood, a hub for culture, entertainment</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-wifi fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Outdoor BBQ area</h6>
                <p class="text-center">Ami Homestay does not serve alcoholic beverages.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-couch fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Furnished rooms</h6>
                <p class="text-center">With three workout facilities, it's easy to stay active all year.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-person-swimming fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Swimming pool</h6>
                <p class="text-center">Everyday chores made easier equals more time for living.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-square-parking fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Parking</h6>
                <p class="text-center">Enjoy our urban oasis filled with green lawns, tree-lined paths, athletic.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-mug-saucer fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">Free breakfast</h6>
                <p class="text-center">Tea and coffee making facilities are available in each room.</p>
            </div>
        </div>
        <div class="flex flex-col lg:mx-3 w-33 mt-10 sm:mt-20">
            <div class="flex flex-col justify-center items-center px-10">
                <div class="h-20 w-20 rounded-full theme-grey-border flex justify-center items-center icon-hover">
                    <i class="fa-solid fa-shield-halved fa-2xl theme-color"></i>
                </div>
                <h6 class="uppercase text-md my-2 font-bold text-hover">24/7 Security</h6>
                <p class="text-center">We take safety seriously through our dedicated team .</p>
            </div>
        </div>
    </div>
</div>
<div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center my-10" style="height:100%;">
    <div class="w-full flex flex-col justify-center items-center backdrop-brightness-50" style="height:500px;">
        <h1 class="uppercase text-white tracking-wider w-1/2 lg:text-6xl text-3xl my-2 text-center">The perfect place to stay</h1>
        <h5 class="uppercase text-white tracking-widest text-sm my-2">FEEL COMFORTABLE FOR FAMILY!</h5>
        <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-8 mt-5">Contact Us<i
                class="fa fa-arrow-right ml-2"></i></button>
    </div>
</div>
<div class="flex flex-col lg:flex-row about-height px-20">
    <div class="relative lg:w-2/5 w-full flex flex-col">
        <div class="my-2 relative">
            <h1 class="font-normal text-5xl tracking-widest my-1">Our Benefits</h1>
            <h5 class="theme-color text-sm tracking-widest my-1">WHAT VISITORS LOOKING FOR</h5>
        </div>
        <div>
            <img src="assets/aboutus01.jpg" class="sm:absolute w-full h-auto sm:top-20 mt-5 lg:my-0">
            <img src="assets/about04.jpg" class="sm:absolute w-full sm:w-1/2 h-auto sm:bottom-16 right-0 mt-5 lg:my-0">
        </div>
    </div>
    <div class="w-full lg:w-3/5 flex flex-col justify-center px-7 lg:px-28 py-20 lg:py-0 about-bg-color">
       
<div id="accordion-collapse" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span>01. Unique & Scenic Setting</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="text-gray-500 dark:text-gray-400">Located at the foothills of the beautiful Kemmanagundi mountains and surrounded by rolling farmlands, our entire campus is filled with hundreds of species of ferns, fruits, flowers, plants & trees. We recreated a lush tropical garden so that you and your loved ones can relax & refresh in the midst of pristine nature & birdsongs.</p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span>02. Best Amenities At The Best Price</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">Located at the foothills of the beautiful Kemmanagundi mountains and surrounded by rolling farmlands, our entire campus is filled with hundreds of species of ferns, fruits, flowers, plants & trees. We recreated a lush tropical garden so that you and your loved ones can relax & refresh in the midst of pristine nature & birdsongs.</p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span>03. Quick Access to Tourist Attractions</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">Located at the foothills of the beautiful Kemmanagundi mountains and surrounded by rolling farmlands, our entire campus is filled with hundreds of species of ferns, fruits, flowers, plants & trees. We recreated a lush tropical garden so that you and your loved ones can relax & refresh in the midst of pristine nature & birdsongs.</p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-4">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
          <span>04. Campfire & Nature Walks</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
        <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">Located at the foothills of the beautiful Kemmanagundi mountains and surrounded by rolling farmlands, our entire campus is filled with hundreds of species of ferns, fruits, flowers, plants & trees. We recreated a lush tropical garden so that you and your loved ones can relax & refresh in the midst of pristine nature & birdsongs.</p>
        </div>
      </div>
  </div>
  
    </div>
</div>
<div class="flex flex-col px-5 lg:px-20 py-32 justify-center">
    <div class="text-center">
        <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1">Accommodation</h1>
        <h5 class="theme-color text-sm tracking-widest my-3">CHOOSE FROM A WIDE RANGE OF ROOMS</h5>
    </div>
    <div class="flex flex-col lg:flex-row justify-between w-full">
        <div
            class="flex flex-col justify-center items-center my-5 lg:my-20 lg:w-33 w-full bg-white box-shadow lg:mx-3">
            <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
                <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                    <span class="text-white text-2xl w-1/2 text-center mb-8">DOUBLE ROOM</span>
                </div>
            </div>
            <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$75.9</span> Night</h6>
            <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                    class="fa fa-arrow-right"></i></p>
        </div>
        <div
            class="flex flex-col justify-center items-center my-5 lg:my-20 lg:w-33 w-full bg-white box-shadow lg:mx-3">
            <div class="w-full bg-[url('assets/room-02.jpg')] bg-cover bg-center" style="height:100%;">
                <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                    <span class="text-white text-2xl w-1/2 text-center mb-8">LUXURY ROOM</span>
                </div>
            </div>
            <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$64.9</span> Night</h6>
            <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                    class="fa fa-arrow-right"></i></p>
        </div>
        <div
        class="flex flex-col justify-center items-center my-5 lg:my-20 lg:w-33 w-full bg-white box-shadow lg:mx-3">
        <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
            <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                <span class="text-white text-2xl w-1/2 text-center mb-8">PREMIUM ROOM</span>
            </div>
        </div>
        <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$53.9</span> Night</h6>
        <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                class="fa fa-arrow-right"></i></p>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between w-full">
        <div
            class="flex flex-col justify-center items-center my-5 lg:my-0 lg:w-33 w-full bg-white box-shadow lg:mx-3">
            <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
                <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                    <span class="text-white text-2xl w-1/2 text-center mb-8">CLASSIC ROOM</span>
                </div>
            </div>
            <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$60.5</span> Night</h6>
            <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                    class="fa fa-arrow-right"></i></p>
        </div>
        <div
            class="flex flex-col justify-center items-center my-5 lg:my-0 lg:w-33 w-full bg-white box-shadow lg:mx-3">
            <div class="w-full bg-[url('assets/room-02.jpg')] bg-cover bg-center" style="height:100%;">
                <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                    <span class="text-white text-2xl w-1/2 text-center mb-8">BUDGET ROOM</span>
                </div>
            </div>
            <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$49.5</span> Night</h6>
            <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                    class="fa fa-arrow-right"></i></p>
        </div>
        <div
        class="flex flex-col justify-center items-center my-5 lg:my-0 lg:w-33 w-full bg-white box-shadow lg:mx-3">
        <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
            <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:350px;">
                <span class="text-white text-2xl w-1/2 text-center mb-8">SINGLE ROOM</span>
            </div>
        </div>
        <h6 class="uppercase mt-7 flex items-center">From <span class="text-3xl mx-2">$64.9</span> Night</h6>
        <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i
                class="fa fa-arrow-right"></i></p>
        </div>
    </div>
</div>
