<div class="flex flex-col sm:px-10">
    <div class="flex flex-col w-full sm:px-10">
        <div class="flex flex-col">
            <img src="assets/blog-1.jpg">
            <div class="flex flex-col justify-center post-border my-8">
                <small class="text-xs pb-10 readMoreBorder">
                    <span class="theme-color">
                        FOODS,  HOTEL
                    </span>
                    | August 6,2019
                </small>
                <p class="mt-7">
                    What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the delivery of the content. Also over time this can save quite a bit of bandwidth, which in turn can save you money.
                </p>
                <p class="mt-7">
                    It will render and show the full size image while the data is being received. This allows to serve different scaled images based on viewport width. What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the delivery of the content. Also over time this can save quite a bit of bandwidth, which in turn can save you money.
                </p>
                <div class="my-5 flex flex-row justify-center items-center">
                    <div class="w-1/6">
                        <i class="fa fa-quote-left text-5xl theme-color"></i>
                    </div>
                    <div class="w-4/5">
                        WHAT A WONDERFUL TIME I HAD IN PILIAM HOMESTAY WITH MY FRIENDS FROM OUTSIDE OF INDIA. ROOMS ARE SPACIOUS CLEAN. THE PLACE IS BEAUTIFUL AND QUITE. I DID NOT WANTED TO LEAVE. IT DEFINITELY FELTED LIKE HOME.
                    </div>
                </div> 
                <p class="mt-7">
                    We are not a business family neither we started this place to make ONLY money. We dreamed about a holiday home in Coonoor-Ooty for ourselves, as we were more familiar and frequenter to Nilgiris.
                </p>
                <img src="assets/single-post.jpg" class="mt-7">
                <h5 class="uppercase text-lg font-bold tracking-widest mt-10 mb-3 text-black">Let’s ride with us to the secret island!</h5>
                <p>Our boat ride package include:</p>
                <ul class="pl-5 my-3">
                    <li class="text-hover my-3">
                        <span class="text-black text-sm">Round-trip to the secret island</span>
                    </li>
                    <li class="text-hover my-3">
                        <span class="text-black text-sm">Island chic accommodations only steps from the beach and the bay</span>
                    </li>
                    <li class="text-hover my-3">
                        <span class="text-black text-sm">Complimentary hot breakfast and evening wine & cheese reception</span>
                    </li>
                    <li class="text-hover my-3">
                        <span class="text-black text-sm">Access to beautiful nature lakes and forests</span>
                    </li>
                </ul>
                <div class="py-5 readMoreBorder">
                    <span class="uppercase font-bold">
                        Categories:
                    </span>
                    Foods, Hotel
                </div>
                <div class="flex sm:flex-row flex-col item-center w-full py-10 readMoreBorder">
                    <div class="flex flex-wrap w-full sm:w-3/4 my-1">
                        <a routerLink="../camera" class="readMoreBtn text-sm mr-3 btn-hover">Camera</a>
                        <a routerLink="../psdTemplate" class="readMoreBtn text-sm mr-3 btn-hover">Psd Template</a>
                        <a routerLink="../responsive" class="readMoreBtn text-sm mr-3 btn-hover">Responsive</a>
                        <a routerLink="../wordpress" class="readMoreBtn text-sm mr-3 btn-hover">Wordpress</a>
                    </div>
                    <div class="w-full sm:w-1/2 text-center sm:text-end my-1">
                        <i class="fa-brands fa-facebook mr-3 text-black"></i>
                        <i class="fa-brands fa-twitter mr-3 text-black"></i>
                        <i class="fa-brands fa-linkedin mr-3 text-black"></i>
                        <i class="fa-brands fa-google-plus mr-3 text-black"></i>
                        <i class="fa-brands fa-pinterest mr-3 text-black"></i>
                    </div>
                </div>
                <div class="py-10 readMoreBorder">
                    <div class="sm:w-1/2">
                        <p class="text-xs font-bold uppercase theme-color my-5">Older Posts</p>
                        <h2 class="uppercase text-black text-xl text-hover">
                            <a routerLink="../readMore">
                                7 Amazing Hotels with Infinity Pools | Rooftop Swimming Pools
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="py-10">
                    <div class="text-left">
                        <h1 class="uppercase font-normal text-3xl my-5">LEAVE A REPLY</h1>
                        <p>Your email address will not be published. Required fields are marked <span class="text-red-600">*</span></p>
                    </div>
                    <div class="my-5">
                        <form>
                            <div class="flex flex-col lg:flex-row  w-full justify-between">
                                <div class="flex flex-col w-full mx-1 my-2">
                                    <input type="text" placeholder="Name" class="text-border py-3 px-5">
                                </div>
                                <div class="flex flex-col w-full mx-1 my-2">
                                    <input type="text" placeholder="Email" class="text-border py-3 px-5">
                                </div>
                            </div>
                            <div class="flex flex-col lg:flex-row w-full justify-between">
                                <div class="flex flex-col w-full mx-1 my-2">
                                    <input type="text" placeholder="Website" class="text-border py-3 px-5">
                                </div>
                            </div>
                            <div class="flex flex-col lg:flex-row w-full justify-between">
                                <div class="flex flex-col w-full mx-1 my-2">
                                    <textarea placeholder="Comment" class="text-border py-3 px-5" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="mx-1 my-2">
                                <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-5">Post Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>