<div *ngFor="let business of businessDetails" class="flex flex-col sm:px-10">
    <div class="flex flex-col w-full px-10">
        <div class="flex flex-col">
            <img src="{{business.image}}">
            <div class="flex flex-col justify-center post-border my-8">
                <small class="text-xs">
                    <span class="theme-color">
                        {{business.category}}
                    </span>
                    | August 6,2019
                </small>
                <h2 class="my-5 font-bold text-3xl text-black text-hover">{{business.heading}}</h2>
                <p>
                {{business.details}}
                </p>
                <button class="w-40 uppercase theme-bg-color text-white rounded-md text-xs font-bold py-2 px-8 mt-5"  routerLink="readMore">Read
                    More<i class="fa fa-arrow-right ml-2"></i></button>
            </div>
        </div>
    </div>
</div>