.light-text{
    color: #6b6460;
}
.team-bg{
    background-color:#faf6f1;
}
.text-hover:hover{
    color:#CF9D6C;
}
.icon-hover:hover{
    background-color:#CF9D6C;
    color:#fff;
}
.bg-dark{
    background-color:#423a36;
}