<div class="main-container">
    <div class="h-32 items-center justify-around mx-20 hidden lg:flex flex-row">
        <div class="w-1/5 flex justify-center">
            <div class="flex justify-center">
                <div class="flex items-center justify-center border theme-border-color rounded-full mr-4 border-blue-100 h-10 w-10">
                    <i class="fa-solid fa-house theme-color"></i>
                </div>
                <div>
                    <p class="text-sm">7882 Longbranch Rd</p>
                    <p class="text-sm mt-1">Wooster, New York</p>
                </div>
            </div>
        </div>
        <div class="w-1/5 flex justify-center">
            <div class="flex">
                <div class="flex items-center justify-center border theme-border-color rounded-full mr-4 border-blue-100 h-10 w-10">
                    <i class="fa fa-envelope theme-color"></i>
                </div>
                <div>
                    <p class="text-sm">Email Us</p>
                    <p class="text-sm mt-1">ami@example.com</p>
                </div>
            </div>
        </div>
        <div class="w-1/5 flex justify-center">
            <img src="assets/logo.svg" class="w-9/12 h-full">
        </div>
        <div class="w-1/5 flex justify-center">
            <h5 class="theme-color font-bold text-2xl font-contact">
                +(84) 4130 0555
            </h5>
        </div>
        <div class="w-1/5 flex justify-center">
            <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-3 px-8">Book Your stay</button>
        </div>
    </div>
    <div class="h-32 w-full lg:hidden flex justify-between">
        <div class="w-1/2 flex justify-center">
            <img src="assets/logo.svg" class="w-9/12 h-full">
        </div>
        <div class="w-1/2 flex justify-end items-center mr-5">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div>
        <div class="hidden lg:flex bg-header w-100 py-5 items-center justify-center">
            <div class="dropdown">
                <button class="dropbtn uppercase text-xs font-bold">
                    Home
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#" class="text-center text-xs">Home 2</a>
                  <a href="#" class="text-center text-xs">Home 3</a>
                </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn uppercase text-xs font-bold">
                    About Homestay
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#" class="text-center text-xs">About Us</a>
                  <a href="#" class="text-center text-xs">Amenities</a>
                  <a href="#" class="text-center text-xs">Places to Visit</a>
                  <a href="#" class="text-center text-xs">Things to do</a>
                </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn uppercase text-xs font-bold">
                    Rooms
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#" class="text-center text-xs">Hotel Booking Search</a>
                  <a href="#" class="text-center text-xs">Single Room</a>
                </div>
            </div> 
            <div class="w-auto text-white uppercase text-center text-xs font-bold px-5 navbar">
                <a>Gallery</a>
            </div>
            <div class="w-auto text-white uppercase text-center text-xs font-bold px-5 navbar">
                <a>News</a>
            </div>
            <div class="dropdown">
                <button class="dropbtn uppercase text-xs font-bold">
                    Pages
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#" class="text-center text-xs">Our Team</a>
                  <a href="#" class="text-center text-xs">FAQ</a>
                  <a href="#" class="text-center text-xs">404</a>
                </div>
              </div> 
            <div class="w-auto text-white uppercase text-center text-xs font-bold px-5 navbar">
                <a>
                    Contact
                </a>
            </div>
        </div>
    </div>
    <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
        <div class="w-full flex flex-col justify-center items-center backdrop-brightness-50" style="height:500px;">
            <h5 class="uppercase text-white text-sm my-2">Best Choice for family</h5>
            <h1 class="uppercase text-white w-1/2 lg:text-6xl text-2xl my-2 text-center">Stay with us, Feel at home</h1>
            <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-8 mt-5">Explore More<i class="fa fa-arrow-right ml-2"></i></button>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row px-5 lg:px-20 about-height">
        <div class="relative lg:w-1/2 w-full flex flex-col justify-center">
            <img src="assets/h1-banner01.jpg" class="lg:absolute w-full h-auto lg:-top-20 mt-5 lg:my-0">
            <img src="assets/h1-banner02.jpg" class="lg:absolute w-full lg:w-2/4 h-auto lg:top-80 right-0 mt-5 lg:my-0">
        </div>
        <div class="w-full lg:w-1/2 flex flex-col justify-center px-7 lg:px-20 py-20 lg:py-0 about-bg-color">   
            <div class="my-2">
                <h1 class="font-normal text-5xl tracking-widest my-1">Welcome Home!</h1>
                <h5 class="theme-color text-sm tracking-widest my-1">SOME WORD ABOUT US</h5>
            </div>
            <p class="font-bold my-2">Ami Homestay is located in seclusion amidst three hills in Coorg in the State of Karnataka.</p>
            <p class="my-2">Escape from the hustle and hassle of your everyday routine and come away to the Ami Homestay, where a serene world awaits you. Throw off all your worries and slip into the scenic, relaxed atmosphere and be pampered and rejuvenated..</p>
            <div class="flex flex-col">
                <div class="flex flex-row items-center my-3">
                    <div class="w-1/6 justify-center">
                        <i class="fa fa-star fa-2xl"></i>
                    </div>
                    <div class="lg:w-1/2 w-3/4 uppercase text-sm font-bold">
                        Consistently High Guest Satisfaction Since 2012
                    </div>
                </div>
                <div class="flex flex-row items-center my-3">
                    <div class="w-1/6 justify-center">
                        <i class="fa fa-medal fa-2xl"></i>
                    </div>
                    <div class="lg:w-1/2 w-3/4 uppercase text-sm font-bold">
                        Top Ranked Value Homestay in New York, USA
                    </div>
                </div>
            </div>
            <div class="my-2">
                <button class="uppercase theme-bg-color text-white rounded-md text-xs font-bold py-5 px-8">Explore More<i class="fa fa-arrow-right ml-2"></i></button>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between px-5 lg:px-20 py-20 lg:py-0">
        <div class="text-center lg:text-left py-5 lg:py-20">
            <h1 class="font-normal text-5xl tracking-widest my-1">Number Speaks</h1>
            <h5 class="theme-color text-sm tracking-widest my-1">THE PERFECT PLACE TO STAY</h5>
        </div>
        <div class="text-center py-5 lg:py-20">
            <h2 class="text-5xl font-bold">14</h2>
            <h6 class="uppercase text-sm my-2">Cottages</h6>
        </div>
        <div class="text-center py-5 lg:py-20">
            <h2 class="text-5xl font-bold">35</h2>
            <h6 class="uppercase text-sm my-2">Bedrooms</h6>
        </div>
        <div class="text-center py-5 lg:py-20">
            <h2 class="text-5xl font-bold">80</h2>
            <h6 class="uppercase text-sm my-2">Acres of Green Space</h6>
        </div>
        <div class="text-center py-5 lg:py-20">
            <h2 class="text-5xl font-bold">97%</h2>
            <h6 class="uppercase text-sm my-2">satisfied customer</h6>
        </div>
    </div>
    <div class="flex flex-col px-5 lg:px-20 py-32 about-bg-color justify-center">
        <div class="text-center">
            <h1 class="font-normal text-5xl tracking-widest my-1">Featured Facilities</h1>
            <h5 class="theme-color text-sm tracking-widest my-1">EVERYTHING YOU NEED RIGHT AT HOME</h5>
        </div>
        <div class="flex flex-col lg:flex-row justify-between">
            <div class="flex flex-col justify-center items-center py-5 lg:py-20 px-10">
                <div class="h-16 w-16 rounded-full theme-border-color flex justify-center items-center">
                    <i class="fa fa-shield fa-2xl theme-color border "></i>
                </div>
                <h6 class="uppercase text-sm my-2 font-bold">24/7 Security</h6>
                <p class="text-center">We take safety seriously through our dedicated team that stands watch.</p>
            </div>
            <div class="flex flex-col justify-center items-center py-5 lg:py-20 px-10">
                <div class="h-16 w-16 rounded-full theme-border-color flex justify-center items-center">
                    <i class="fa fa-wifi fa-2xl theme-color border "></i>
                </div>
                <h6 class="uppercase text-sm my-2 font-bold">Free Wifi</h6>
                <p class="text-center">All rooms have good high speed Wi-Fi connectivity. watch. 24/7.</p>
            </div>
            <div class="flex flex-col justify-center items-center py-5 lg:py-20">
                <div class="h-16 w-16 rounded-full theme-border-color flex justify-center items-center">
                    <i class="fa fa-droplet fa-2xl theme-color border "></i>
                </div>
                <h6 class="uppercase text-sm my-2 font-bold">Washer Dryer</h6>
                <p class="text-center">With three workout facilities, it's easy to stay active all year.watch. 24/7.</p>
            </div>
            <div class="flex flex-col justify-center items-center py-5 lg:py-20">
                <div class="h-16 w-16 rounded-full theme-border-color flex justify-center items-center">
                    <i class="fa fa-paw fa-2xl theme-color border "></i>
                </div>
                <h6 class="uppercase text-sm my-2 font-bold">Animal & Pet care</h6>
                <p class="text-center">Everyday chores made easier equals more time for living.watch. 24/7.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row px-5 lg:px-20 py-32 justify-between items-center">
        <i class="fa fa-arrow-left hidden lg:flex"></i>
        <div class="flex flex-col justify-center lg:w-3/4 lg:px-20 my-2">
            <div class="text-center my-5">
                <i class="fa fa-star theme-color"></i>
                <i class="fa fa-star theme-color"></i>
                <i class="fa fa-star theme-color"></i>
                <i class="fa fa-star theme-color"></i>
                <i class="fa fa-star theme-color"></i>
            </div>
            <div class="uppercase text-center text-2xl tracking-widest">
                "If You are a Lover of nature and appreciate its tranquility then this is the place for you."
            </div>
            <div class="flex justify-center my-5">
                <img src="assets/testimonials01.jpg"  class="h-20 w-20 rounded-full">
            </div>
            <div class="flex justify-center">
                <h2 class="uppercase text-md font-bold">Prahalad Atreyya</h2>
            </div>
            <div class="flex justify-center my-1">
                <h6 class="uppercase text-sm theme-color">Trip Advisor</h6>
            </div>
        </div>
        <i class="fa fa-arrow-right hidden lg:flex"></i>
    </div>
    <div class="flex flex-col px-5 lg:px-20 py-32 about-bg-color justify-center" style="background-image:url('assets/h1-bg01.jpg'); background-position: bottom; background-repeat: no-repeat;">
        <div class="text-center">
            <h1 class="uppercase font-normal text-5xl tracking-widest my-1">Things to do</h1>
            <h5 class="theme-color text-sm tracking-widest my-1">ALL ACTIVITIES AT THE AMI HOMESTAY</h5>
        </div>
        <div class="flex flex-col lg:flex-row justify-between w-full mb-20 lg:mb-52">
            <div class="flex flex-col justify-center items-center py-5 lg:py-20 px-10 w-33">
                <div class="flex justify-center items-center">
                    <img src="assets/h1-banner03.jpg" style="height:300px;">
                </div>
                <h6 class="uppercase text-lg mt-7 font-bold">Outdoor BBQ</h6>
                <p class="text-center px-5 my-2">Ami Homestay outdoor BBQ tour is a truly unique & interactive experience.</p>
            </div>
            <div class="flex flex-col justify-center items-center py-5 lg:py-20 px-10 w-33">
                <div class="flex justify-center items-center">
                    <img src="assets/h1-banner04.jpg" style="height:300px;">
                </div>
                <h6 class="uppercase text-lg mt-7 font-bold">Nature Walk</h6>
                <p class="text-center px-5 my-2">Stroll around and fill your lungs with pure oxygen.</p>
            </div>
            <div class="flex flex-col justify-center items-center py-5 lg:py-20 px-10 w-33">
                <div class="flex justify-center items-center">
                    <img src="assets/h1-banner05.jpg" style="height:300px;">
                </div>
                <h6 class="uppercase text-lg mt-7 font-bold">Lake Swimming</h6>
                <p class="text-center px-5 my-2">The water is very clean, fresh and safe, best for your health.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col px-5 lg:px-20 py-32 accommodation-bg-color justify-center">
        <div class="text-center">
            <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 text-white">Accommodation</h1>
            <h5 class="theme-color text-sm tracking-widest my-3">CHOOSE FROM A WIDE RANGE OF ROOMS</h5>
        </div>
        <div class="flex flex-col lg:flex-row justify-between w-full">
            <div class="flex flex-col justify-center items-center my-5 lg:my-20 lg:w-1/2 w-full bg-white box-shadow lg:mx-3">
                <div class="w-full bg-[url('assets/room-01.jpg')] bg-cover bg-center" style="height:100%;">
                    <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:500px;">
                        <span class="text-white text-2xl w-1/2 text-center mb-8">PREMIUM ROOM</span>
                    </div>
                </div>
                <h6 class="uppercase mt-7 flex items-center">From <span class="text-4xl mx-2">$75.9</span> Night</h6>
                <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i class="fa fa-arrow-right"></i></p>
            </div> 
            <div class="flex flex-col justify-center items-center my-5 lg:my-20 lg:w-1/2 w-full bg-white box-shadow lg:mx-3">
                <div class="w-full bg-[url('assets/room-02.jpg')] bg-cover bg-center" style="height:100%;">
                    <div class="w-full flex justify-center items-end backdrop-brightness-50" style="height:500px;">
                        <span class="text-white text-2xl w-1/2 text-center mb-8">DOUBLE ROOM</span>
                    </div>
                </div>
                <h6 class="uppercase mt-7 flex items-center">From <span class="text-4xl mx-2">$64.9</span> Night</h6>
                <p class="uppercase text-center text-xs font-bold px-5 mt-16 mb-10 theme-color">View Detail <i class="fa fa-arrow-right"></i></p>
            </div>
        </div>
    </div>
    <div class="flex flex-col py-10 justify-center">
        <div class="text-center">
            <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 ">Places of Interest</h1>
            <h5 class="theme-color text-sm tracking-widest my-3">EXPLORE AMAZING AND BEAUTIFUL PLACES</h5>
        </div>
        <div class="flex flex-col lg:flex-row w-full mt-20">
            <div class="flex items-center justify-center lg:w-1/4 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50" 
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Lumbini Gardens
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 15KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="flex items-center justify-center lg:w-1/4 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50"
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Banergta Waterfall
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 21KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="flex items-center justify-center lg:w-1/2 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50"
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Royal Vineyard
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 21KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row w-full mb-20">
            <div class="flex items-center justify-center lg:w-1/2 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50"
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Cubbon Farm
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 9KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="flex items-center justify-center lg:w-1/4 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50"
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Musical Fountain
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 11KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="flex items-center justify-center lg:w-1/4 w-full" style="height:400px;">
                <a class="relative block bg-gray-900 group" href="#" style="width:100%;">
                <img class="absolute inset-0 object-cover w-full h-full group-hover:opacity-50" 
                src="assets/room-02.jpg" alt="" style="height:400px;"/>
                <div class="relative p-2 flex items-center justify-center" style="height:400px;">
                    <div class="flex items-center justify-center">
                        <div
                            class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                            <div class="p-2">
                                <p class="text-2xl text-center text-white my-2">
                                    Commercial Street
                                </p>
                                <p class="text-md text-center text-white my-2">
                                    Distance - 9KMS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col px-5 lg:px-20 py-10 justify-center">
        <div class="text-center">
            <h1 class="uppercase font-normal text-2xl lg:text-5xl tracking-widest my-1 ">Recent Post</h1>
            <h5 class="uppercase theme-color text-sm tracking-widest my-3">Read Our Blog</h5>
        </div>
        <div class="flex flex-col lg:flex-row justify-between my-20">
            <div class="flex flex-col post-border lg:mx-3 p-10 lg:p-14 w-33">
                <small>
                    <span class="theme-color">
                        FOODS, HOTEL
                    </span>
                    | August 6,2019
                </small>
                <h2 class="my-5 font-bold text-xl">6 Safe Caving Vacations &...</h2>
                <p>
                    What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the delivery of the content. Also over time this can save…
                </p>
                <button class="w-40 uppercase theme-bg-color text-white rounded-md text-xs font-bold py-2 px-8 mt-5">Read More<i class="fa fa-arrow-right ml-2"></i></button>
            </div>
            <div class="flex flex-col lg:mx-3 w-33 my-5 lg:my-0 bg-[url('assets/room-02.jpg')] bg-cover bg-center opacity-90" style="height:100%;">
                <div class="w-full flex flex-col justify-end items-start px-10 backdrop-brightness-50" style="height:500px;">
                    <small>
                        <span class="theme-color">
                            HOTEL, ORIENTALSPA
                        </span>
                        | August 6,2019
                    </small>
                    <h2 class="my-5 font-bold text-xl text-white">7 Amazing Hotels with Infinity Pools |...</h2>
                </div>
            </div>
            <div class="flex flex-col post-border my-5 lg:my-0 lg:mx-3 p-10 lg:p-14 w-33">
                <small>
                    <span class="theme-color">
                        FOODS, RESTAURANT
                    </span>
                    | August 6,2019
                </small>
                <h2 class="my-5 font-bold text-xl">7 Wilderness Hotels & Resorts Enticing...</h2>
                <p>
                    What this means is that mobile users can now be served smaller file sizes, which in turn speeds up the delivery of the content. Also over time this can save…
                </p>
                <button class="w-40 uppercase theme-bg-color text-white rounded-md text-xs font-bold py-2 px-8 mt-5">Read More<i class="fa fa-arrow-right ml-2"></i></button>
            </div>
        </div>
    </div>
</div>

